<p>There are two main risks when investing in bonds: interest rates, and credit/default risk.</p>
<ul>
    <li>Bonds have an inverse relationship to interest rates.</li>
    <li>When interest rates rise, the value of a bond falls.</li>
    <li>The longer the maturity period, the higher the interest rate period is. </li>
    <li>When interest and principal payments on a bond aren't made by a company, this means the bond has defaulted.</li>
    <li>Typically, a higher operating income means a company is safer to invest in because there is less risk of defaulting.</li>
</ul>