/* Color Scheme */

:root {
  --primary-color: #2B388F;
  --secondary-color: #00878E;
  --tertiary-color: #62C0C2;
  --background-color: #FFFFFF;
  --accent-color: #27A2CC;
  --highlight-color: #FDCB50;
  --text-color-dark: #000000;
  --text-color-light: #FFFFFF;
  --text-color-medium: #333333;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  padding: 15px;
  text-align: center;
}

h1 {
  color: var(--text-color-light);
  padding-top: 0px;
  margin-top: 0px;
}

h2 {
  color: var(--text-color-dark);
  padding-top: 0px;
  margin-top: 0px;
}

h3 {
  color: var(--text-color-medium);
}

button {
  cursor: pointer;
}

#navButton{
  padding:0;
  margin: 0;
  border: 0;
  padding-block:0;
  padding-inline:0;
  background-color: var(--primary-color);
}

#navIcon{
  border-image: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  display: flex;
  min-height: 500px;
}

.sidebar { 
  width: 200px; 
  min-height: 500px;
  background-color: var(--primary-color);
  transition: width 0.5s ease;
}

.sidebar.collapsed { 
  width: 60px;
}

.header {
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
}

.header.collapsed {
  display: none;
}

.menu-items a:hover {
  background-color: var(--accent-color);
}

.menu-items.collapsed a {
  display: none;
}

.sidebar a {
  color: var(--text-color-light);
  font-weight: bold;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.toggle-sidebar {
  color: var(--text-color-light);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 40px;
}

.toggle-sidebar:hover {
  background-color: var(--tertiary-color);
}

.isActive{
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

.content {
  background-color: var(--background-color);
  flex: 1;
}

.page {
  padding: 20px;
}

.cardRow {
    width: fit-content;
    block-size: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}

.cardRow a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardHeader {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.cardHeader h3 {
  color: var(--text-color-light);
}

.cardContainer {
  background-color: var(--tertiary-color);
  padding: 20px;
}

.priceSearchFormContainer{
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.priceSearchBar{
  padding: 8px;
  width: 400px;
  border: 1px solid black;
  height: 30px;
  border-radius: 4px;
  margin-right: 8px;
}

.priceSearchButton{
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  transition: 0.2s;
}

.priceSearchButton:hover{
  background-color: var(--accent-color);
  box-shadow: 5px 5px 5px 0px rgba(186,186,186,0.5);
}