body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.navigation li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.navigation {
  background-color: #111;
  padding: 0px;
}

ul.navigation li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.header {
  padding: 0;
  padding-left: 20px;
}

.content {
  background-color: #FFF;
  padding: 0;
  margin: 0;
  /* padding-left: 20px; This line disturbs the flow of the page */ 
}

.cardRow {
    width: fit-content;
    block-size: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}

.cardRow a {
    text-decoration: none;
    color: #000;
}

.card {
  max-width: 300px;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardHeader {
  background-color: #CCC;
  padding: 20px;
}

.cardContainer {
  padding: 20px;
}

.priceSearchFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.priceSearchBar{
  padding: 8px;
  width: 400px;
  border: 1px solid black;
  height: 30px;
  border-radius: 4px;
  margin-right: 8px;
}

.priceSearchButton{
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: black;
  color: white;
  transition: 0.2s;
}

.priceSearchButton:hover{
  background-color: #737373;
  box-shadow: 5px 5px 5px 0px rgba(186,186,186,0.5);
}