/* Color Scheme */

:root {
  --primary-color: #2B388F;
  --secondary-color: #00878E;
  --tertiary-color: #62C0C2;
  --background-color: #FFFFFF;
  --accent-color: #27A2CC;
  --highlight-color: #FDCB50;
  --text-color-dark: #000000;
  --text-color-light: #FFFFFF;
  --text-color-medium: #333333;
}

html, div{ 
  min-height: 0%;
  max-width: 100%;
  max-height: 20%;
  min-width:0%; 
}

body {
  background-color: var(--primary-color);
  padding-top: 3.1%;
  margin-right:5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

footer {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  display:flexbox; 
  text-align: center;
  padding-bottom: 2px; 
}

h1 {
  color: var(--text-color-light);
  padding-top: 0px;
  margin-top: 0px;
}

h2 {
  color: var(--text-color-dark);
  padding-top: 0px;
  margin-top: 0px;
}

h3 {
  color: var(--text-color-medium);
}

h4{
  color: var(--text-color-medium);
}

button {
  cursor: pointer;
}

#navButton{
  padding:0;
  margin: 0;
  border: 0;
  padding-block:0;
  padding-inline:0;
  background-color: var(--primary-color);
}

#navIcon{
  border-image: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  display: flex;
  min-height: 500px;
}

.flex {
  display: flex;
}

.sidePanel {
  
  flex: 1;
}

.sidebar { 
  width: 200px; 
  min-height: 500px;
  background-color: var(--primary-color);
  transition: width 0.5s ease;
}

.sidebar.collapsed { 
  width: 60px;
}

.header {
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
}

.header.collapsed {
  display: none;
}

.menu-items a:hover {
  background-color: var(--accent-color);
}

.menu-items.collapsed a {
  display: none;
}

.sidebar a {
  color: var(--text-color-light);
  font-weight: bold;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.toggle-sidebar {
  color: var(--text-color-light);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 40px;
}

.toggle-sidebar:hover {
  background-color: var(--tertiary-color);
}

.isActive{
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

.content {
  background-color: var(--background-color);
  flex: 1;
}

.page {
  padding: 20px;
  background-color: var(--background-color);
}

.slideshowWindow {
  height: 400px;
  width: auto;
  margin: 30px;
  padding: 20px;
  border: 25px solid var(--primary-color);
  background-color: var(--background-color);
}

.slide {
  height: 100%;
  width: auto;
  font-size: 28px;
  background-color: var(--background-color);
}

.slide div.titleContainer {
  height: 300px;
  width: auto;
  text-align: center;
  vertical-align: center;
}

.slide div.contentContainer {
  height: 100px;
  width: auto;
}

.slide div.audioBar {
  height: 20px;
  width: auto;
  text-align: right;
}

.slide p {
  background-color: var(--background-color);
}

.slide h1 {
  font-size: 40px;
  color: var(--secondary-color);
  border: none;
}

.slide h2 {
  font-size: 36px;
  color: var(--secondary-color);
  text-align: center;
  border-bottom: 3px solid var(--tertiary-color);
}

.slide h2.slideSubTitle {
  font-size: 36px;
  color: var(--secondary-color);
  border: none;
}

.slide ul, .slide ul li {
  background-color: var(--background-color);
  margin-bottom: 5px;
}

.cardRow {
    width: fit-content;
    block-size: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}

.cardRow a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardHeader {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.cardHeader h3 {
  color: var(--text-color-light);
}

.cardContainer {
  background-color: var(--tertiary-color);
  padding: 5px;
}

.priceSearchFormContainer{
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.priceSearchBar{
  padding: 8px;
  width: 400px;
  border: 1px solid black;
  height: 30px;
  border-radius: 4px;
  margin-right: 8px;
}

.priceSearchButton{
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  transition: 0.2s;
}

.priceSearchButton:hover{
  background-color: var(--accent-color);
  box-shadow: 5px 5px 5px 0px rgba(186,186,186,0.5);
}

/*Used excluively in the Analysis Page*/

.riskHeaders {
  display: flex;       /*Allows side by side div elements*/
  align-items: center; /* Vertically centers items */
}

.riskBody{
  display: flex;
}

.riskHeader{
  padding-left: 20px;
}

.userInput{
  width: 150px;
  margin: 5px;
}

.explanationText{
  font-size: xx-small;
}

.riskContainer{
  width: 425px;
  align-items: center;
}

.ratioBox{
  text-align: center;
  width: 75px;
  border: 3px solid var(--text-color-dark);
  padding-top: 2px;
  padding-bottom: 2px;
}

.ratioName{
  text-align: center;
  width: 125px;
  border: 3px solid var(--text-color-dark);
  padding-top: 2px;
  padding-bottom: 2px;
}

.scoreContainer{
  display: flex;
  border: 4px solid var(--secondary-color);
  border-radius: 4px;
  width: 275px;
  margin: 10px;
  margin-left: 14px;
}

.scoreContainerOverallScore{
  display: flex;
  border: 4px solid var(--secondary-color);
  width: 275px;
}

.highlight{
  border: 4px solid var(--highlight-color);
  display: flex;
  border-radius: 4px;
  width: 283px;
  margin: 10px;
  margin-top: 20px;
}

/*End Analysis Page*/