body {
  margin: 0;
  margin-left: 150px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-menu { 
  position: fixed;
  top: 0;
  left: 0;
  width: 150px; 
  height: 100%;
  background-color: #2B388F;
  overflow-y: auto;
  transition: width 0.5s ease;
}

.menu-collapsed .vertical-menu {
  width: 60px; /* Width of menu when collapsed */
}

.menu-items.collapsed a {
  display: none;
}

.vertical-menu a {
  color: white;
  font-weight: bold;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu-items a:hover {
  background-color: #AFD3E4;
}

.toggle-menu {
  color: white;
  background-color: #2B388F;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 60px;
}

.toggle-menu:hover {
  background-color: #5086FF;
}

.isActive{
  background-color: #00878E;
  color: #ffffff;
}

.main{
  display: flex;
}

.header {
  margin-left: 20px;
  transition: margin-left 0.5s ease; 
}

.header-collapsed {
  margin-left: -75px; /* Adjust the margin when menu is collapsed */
}

.content {
  background-color: #FFF;
  margin-left: 20px;
  transition: margin-left 0.5s ease;
}

.content-collapsed {
  margin-left: -75px; /* Adjust the margin when menu is collapsed */
}

.cardRow {
    width: fit-content;
    block-size: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}

.cardRow a {
    text-decoration: none;
    color: #000;
}

.card {
  max-width: 300px;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardHeader {
  background-color: #CCC;
  padding: 20px;
}

.cardContainer {
  padding: 20px;
}