{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OpenFinAL{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'backend.css'%}">
    <link rel="stylesheet" href="{% static 'baseUI.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <!-- Top Panel -->
    <div class="top-panel">
        OpenFinAL
    </div>

    <!-- Side Panel -->
    <div class="side-panel">
        <a href="{% url 'home-view' %}">Home</a> <!-- Home option -->
        <a href="{% url 'chatbot-view' %}">Chatbot</a>  <!-- Chatbot option -->
        <a href="{% url 'scrape-view' %}">Scrape Data</a> <!-- Scraping option -->
        <a href="{% url 'train-view' %}">Model Training</a> <!-- Model Training option -->
        <a href="{% url 'generate_q_and_a' %}">Generate Q&A</a> <!-- Model Training option -->
        <a href="{% url 'model-statistics' %}">Model Statistics</a> <!-- Model Statistics option -->
        <a href="{% url 'settings-view' %}">Settings</a> <!-- Settings option -->
    </div>

    <!-- Main Content Area -->
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>
