{% extends 'base.html' %}

{% block content %}
{% load static %}
<h1>Generate Q&A</h1>

{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="pdf_file">Upload PDF:</label>
    <input type="file" name="pdf_file" id="pdf_file"><br><br>

    <label for="large_text">Or Enter Large Text:</label><br>
    <textarea name="large_text" id="large_text" rows="10" cols="50"></textarea><br><br>

    <button type="submit">Submit</button>
</form> -->

<h1>Scraped Documents</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created At</th>
            <th>PDF File</th>
            <th>Large Text</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ document.created_at }}</td>
            <td>
                {% if document.file_type %}
                <div>{{ document.file_type }}</div>
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                {{ document.content|truncatewords:10 }}
            </td>
            <td>
                <a href="{% url 'document_detail' document.id %}">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}