.priceSearchFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.priceSearchBar{
    padding: 8px;
    width: 400px;
    border: 1px solid black;
    height: 30px;
    border-radius: 4px;
    margin-right: 8px;
}

.priceSearchButton{
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: black;
    color: white;
    transition: 0.2s;
}

.priceSearchButton:hover{
    background-color: #737373;
    box-shadow: 5px 5px 5px 0px rgba(186,186,186,0.5);
}