<!--Done-->

<div style="width: 100%; height: 100%; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 960px; height: 540px; position: relative">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #26A8D6"></div>
            <div style="width: 908.22px; height: 489.80px; left: 26.13px; top: 26.13px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 449.39px; height: 42.99px; left: 439.43px; top: 376.03px; position: absolute"></div>
            <div style="width: 291.18px; height: 60.13px; left: 82.61px; top: 179.39px; position: absolute"></div>
            <div style="width: 404.41px; height: 276.19px; left: 75.59px; top: 179.39px; position: absolute"></div>
            <div style="width: 44.54px; height: 16.59px; left: 256px; top: 195.12px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Pros</div>
            <div style="width: 10.31px; height: 10.33px; left: 96.19px; top: 242.69px; position: absolute; background: #62C0C2; border-radius: 20px;"></div>
            <div style="width: 133.53px; height: 21.84px; left: 134.37px; top: 237.83px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Easy to trade</div>
            <div style="width: 10.31px; height: 10.33px; left: 96.19px; top: 285.89px; position: absolute; background: #62C0C2; border-radius: 20px;"></div>
            <div style="width: 249.29px; height: 22.14px; left: 133.67px; top: 280.73px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Gives Portfolio Diversity</div>
            <div style="width: 10.31px; height: 10.33px; left: 96.19px; top: 329.09px; position: absolute; background: #62C0C2; border-radius: 20px;"></div>
            <div style="width: 270.93px; height: 22.61px; left: 134.37px; top: 323.93px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Professional Management</div>
            <div style="width: 916.60px; height: 60.13px; left: 20.98px; top: 85.48px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 399.01px; height: 28.97px; left: 280.55px; top: 101.46px; position: absolute; color: #62C0C2; font-size: 30; font-family: Arial; font-weight: bold;">Pros and Cons of Funds</div>
            <div style="width: 404.41px; height: 276.19px; left: 480px; top: 179.39px; position: absolute"></div>
            <div style="width: 48.24px; height: 16.89px; left: 658.23px; top: 194.82px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Cons</div>
            <div style="width: 10.31px; height: 10.33px; left: 500.60px; top: 242.69px; position: absolute; background: #62C0C2; border-radius: 20px;"></div>
            <div style="width: 213.40px; height: 22.14px; left: 538.78px; top: 237.53px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Lack of Transparency</div>
            <div style="width: 10.31px; height: 10.33px; left: 500.60px; top: 285.89px; position: absolute; background: #62C0C2; border-radius: 20px;"></div>
            <div style="width: 116.63px; height: 22.61px; left: 538.78px; top: 280.73px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Higher Fees</div>
            <div style="width: 10.31px; height: 10.33px; left: 500.60px; top: 329.09px; position: absolute; background: #62C0C2; border-radius: 20px;"></div>
            <div style="width: 193.10px; height: 17.08px; left: 538.78px; top: 324.23px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">No FDIC Protection</div>
        </div>
    </div>
</div>