<!--Done-->

<!--Depricated-->

<div style="width: 100%; height: 100%; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 960px; height: 540px; position: relative">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #26A8D6"></div>
            <div style="width: 887.97px; height: 479.21px; left: 36.70px; top: 30.54px; position: absolute; background: white"></div> <!--White Box-->
            <div style="width: 480.47px; height: 371.69px; left: 407.12px; top: 76.83px; position: absolute; background: white"></div> <!--Box around the words?-->
            <div style="width: 436.80px; height: 55.45px; left: 421.80px; top: 90.11px; position: absolute; color: #67CCD1; font-size: 57; font-family: Arial; font-weight: bold;">Mutual Funds</div> <!--First Line of Text-->
            <div style="width: 318.79px; height: 54.53px; left: 418.34px; top: 164.56px; position: absolute; color: #67CCD1; font-size: 57; font-family: Arial; font-weight: bold;">and Index</div> <!--Second Line of Text-->
            <div style="width: 308.68px; height: 55.45px; left: 421.80px; top: 237.16px; position: absolute; color: #67CCD1; font-size: 57; font-family: Arial; font-weight: bold;">Funds for</div> <!--Third Line of Text-->
            <div style="width: 326.38px; height: 71.22px; left: 421.80px; top: 311.61px; position: absolute; color: #67CCD1; font-size: 57; font-family: Arial; font-weight: bold;">Beginners</div> <!--Fourth Line of Text-->
            <!--Below is the code for the image we had on this slide.  I am keeping the code here just in case we can use it, but am commenting it out just in case.  Colors may need to be changed to match style guide.

            <div style="width: 192.57px; height: 221.01px; left: 128.29px; top: 117.41px; position: absolute; background: white"></div>
            <div style="width: 192.57px; height: 221.01px; left: 128.29px; top: 117.41px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 37.54px; height: 67.67px; left: 262.28px; top: 222.91px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 37.54px; height: 67.67px; left: 262.28px; top: 222.91px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 14.81px; height: 25.39px; left: 273.65px; top: 249.50px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 14.81px; height: 25.39px; left: 273.65px; top: 249.50px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 98.60px; height: 165.91px; left: 126.84px; top: 172.85px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 98.60px; height: 165.91px; left: 126.84px; top: 172.85px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 79.35px; height: 46.09px; left: 135.97px; top: 231.77px; position: absolute"></div>
            <div style="width: 79.35px; height: 46.09px; left: 135.97px; top: 231.77px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 82.01px; height: 138.66px; left: 135.14px; top: 186.48px; position: absolute"></div>
            <div style="width: 82.01px; height: 138.66px; left: 135.14px; top: 186.48px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 72.68px; height: 155.27px; left: 62.62px; top: 181.86px; position: absolute; background: white"></div>
            <div style="width: 72.68px; height: 155.27px; left: 62.62px; top: 181.86px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 61.48px; height: 151.02px; left: 74.86px; top: 186.17px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 61.48px; height: 151.02px; left: 74.86px; top: 186.17px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 58.49px; height: 131.71px; left: 81.04px; top: 196.92px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 58.49px; height: 131.71px; left: 81.04px; top: 196.92px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 53.56px; height: 129.60px; left: 87.14px; top: 199.07px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 53.56px; height: 129.60px; left: 87.14px; top: 199.07px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 173.04px; height: 102.46px; left: 227.20px; top: 289.77px; position: absolute; background: white"></div>
            <div style="width: 173.04px; height: 102.46px; left: 227.20px; top: 289.77px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 38.14px; height: 22.13px; left: 335.08px; top: 304.33px; position: absolute"></div>
            <div style="width: 38.14px; height: 22.13px; left: 335.08px; top: 304.33px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 38.14px; height: 22.17px; left: 329.85px; top: 307.64px; position: absolute"></div>
            <div style="width: 38.14px; height: 22.17px; left: 329.85px; top: 307.64px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.95px; height: 15.07px; left: 305.57px; top: 317.21px; position: absolute"></div>
            <div style="width: 25.95px; height: 15.07px; left: 305.57px; top: 317.21px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.95px; height: 15.08px; left: 298.25px; top: 321.74px; position: absolute"></div>
            <div style="width: 25.95px; height: 15.08px; left: 298.25px; top: 321.74px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.91px; height: 15.07px; left: 289.14px; top: 327.21px; position: absolute"></div>
            <div style="width: 25.91px; height: 15.07px; left: 289.14px; top: 327.21px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.95px; height: 15.08px; left: 280.88px; top: 332.01px; position: absolute"></div>
            <div style="width: 25.95px; height: 15.08px; left: 280.88px; top: 332.01px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 26.61px; height: 15.45px; left: 330.41px; top: 314.37px; position: absolute"></div>
            <div style="width: 26.61px; height: 15.45px; left: 330.41px; top: 314.37px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 4.39px; height: 2.23px; left: 338.72px; top: 336.07px; position: absolute; background: #F88214"></div>
            <div style="width: 4.30px; height: 2.71px; left: 336.33px; top: 334.30px; position: absolute; background: #F88214"></div>
            <div style="width: 5.42px; height: 2.45px; left: 341.60px; top: 337.59px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.72px; left: 353.73px; top: 344.10px; position: absolute; background: #F88214"></div>
            <div style="width: 5.14px; height: 2.97px; left: 349.22px; top: 341.49px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 352.11px; top: 344.80px; position: absolute; background: #F88214"></div>
            <div style="width: 4.33px; height: 2.71px; left: 327.71px; top: 339.29px; position: absolute; background: #F88214"></div>
            <div style="width: 5.46px; height: 2.44px; left: 332.97px; top: 342.59px; position: absolute; background: #F88214"></div>
            <div style="width: 4.39px; height: 2.22px; left: 330.13px; top: 341.08px; position: absolute; background: #F88214"></div>
            <div style="width: 4.71px; height: 2.72px; left: 345.14px; top: 349.09px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.60px; left: 343.48px; top: 349.80px; position: absolute; background: #F88214"></div>
            <div style="width: 4.25px; height: 2.66px; left: 341.05px; top: 346.91px; position: absolute; background: #F88214"></div>
            <div style="width: 4.29px; height: 2.75px; left: 319.12px; top: 344.29px; position: absolute; background: #F88214"></div>
            <div style="width: 5.47px; height: 2.50px; left: 324.38px; top: 347.58px; position: absolute; background: #F88214"></div>
            <div style="width: 4.43px; height: 2.23px; left: 321.50px; top: 346.07px; position: absolute; background: #F88214"></div>
            <div style="width: 5.14px; height: 2.52px; left: 332.46px; top: 351.48px; position: absolute; background: #F88214"></div>
            <div style="width: 4.73px; height: 2.74px; left: 336.52px; top: 354.10px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 334.89px; top: 354.79px; position: absolute; background: #F88214"></div>
            <div style="width: 4.33px; height: 2.75px; left: 310.49px; top: 349.28px; position: absolute; background: #F88214"></div>
            <div style="width: 4.39px; height: 2.22px; left: 312.90px; top: 351.08px; position: absolute; background: #F88214"></div>
            <div style="width: 5.44px; height: 2.47px; left: 315.77px; top: 352.60px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.74px; left: 327.92px; top: 359.10px; position: absolute; background: #F88214"></div>
            <div style="width: 5.56px; height: 2.92px; left: 323.41px; top: 356.52px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.56px; left: 326.30px; top: 359.83px; position: absolute; background: #F88214"></div>
            <div style="width: 3.88px; height: 2.47px; left: 313.04px; top: 360.25px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.75px; left: 319.32px; top: 364.09px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.60px; left: 317.67px; top: 364.83px; position: absolute; background: #F88214"></div>
            <div style="width: 5.08px; height: 2.72px; left: 314.72px; top: 361.69px; position: absolute; background: #F88214"></div>
            <div style="width: 1.96px; height: 1.12px; left: 299.74px; top: 363.10px; position: absolute; background: #F88214"></div>
            <div style="width: 4.73px; height: 2.75px; left: 310.69px; top: 369.09px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 309.08px; top: 369.82px; position: absolute; background: #F88214"></div>
            <div style="width: 5.55px; height: 2.95px; left: 306.18px; top: 366.51px; position: absolute; background: #F88214"></div>
            <div style="width: 5.16px; height: 3.27px; left: 303.15px; top: 364.78px; position: absolute; background: #F88214"></div>
            <div style="width: 5.06px; height: 2.71px; left: 295.15px; top: 370.09px; position: absolute; background: #F88214"></div>
            <div style="width: 4.71px; height: 2.73px; left: 299.13px; top: 372.38px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 297.50px; top: 373.09px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.72px; left: 302.10px; top: 374.11px; position: absolute; background: #F88214"></div>
            <div style="width: 173.04px; height: 102.46px; left: 225.50px; top: 301.04px; position: absolute; background: white"></div>
            <div style="width: 173.04px; height: 102.46px; left: 225.50px; top: 301.04px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 38.14px; height: 22.13px; left: 333.37px; top: 315.61px; position: absolute"></div>
            <div style="width: 38.14px; height: 22.13px; left: 333.37px; top: 315.61px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 38.14px; height: 22.17px; left: 328.14px; top: 318.92px; position: absolute"></div>
            <div style="width: 38.14px; height: 22.17px; left: 328.14px; top: 318.92px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.95px; height: 15.07px; left: 303.87px; top: 328.49px; position: absolute"></div>
            <div style="width: 25.95px; height: 15.07px; left: 303.87px; top: 328.49px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.95px; height: 15.08px; left: 296.54px; top: 333.02px; position: absolute"></div>
            <div style="width: 25.95px; height: 15.08px; left: 296.54px; top: 333.02px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.91px; height: 15.07px; left: 287.44px; top: 338.48px; position: absolute"></div>
            <div style="width: 25.91px; height: 15.07px; left: 287.44px; top: 338.48px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 25.95px; height: 15.08px; left: 279.18px; top: 343.28px; position: absolute"></div>
            <div style="width: 25.95px; height: 15.08px; left: 279.18px; top: 343.28px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 26.61px; height: 15.45px; left: 328.70px; top: 325.64px; position: absolute"></div>
            <div style="width: 26.61px; height: 15.45px; left: 328.70px; top: 325.64px; position: absolute; border: 1px #F88214 solid"></div>
            <div style="width: 4.39px; height: 2.23px; left: 337.01px; top: 347.35px; position: absolute; background: #F88214"></div>
            <div style="width: 4.30px; height: 2.71px; left: 334.63px; top: 345.58px; position: absolute; background: #F88214"></div>
            <div style="width: 5.42px; height: 2.45px; left: 339.90px; top: 348.87px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.72px; left: 352.02px; top: 355.37px; position: absolute; background: #F88214"></div>
            <div style="width: 5.14px; height: 2.97px; left: 347.52px; top: 352.77px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 350.41px; top: 356.08px; position: absolute; background: #F88214"></div>
            <div style="width: 4.33px; height: 2.71px; left: 326.01px; top: 350.57px; position: absolute; background: #F88214"></div>
            <div style="width: 5.46px; height: 2.44px; left: 331.27px; top: 353.87px; position: absolute; background: #F88214"></div>
            <div style="width: 4.39px; height: 2.22px; left: 328.42px; top: 352.36px; position: absolute; background: #F88214"></div>
            <div style="width: 4.71px; height: 2.72px; left: 343.44px; top: 360.37px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.60px; left: 341.77px; top: 361.07px; position: absolute; background: #F88214"></div>
            <div style="width: 4.25px; height: 2.66px; left: 339.35px; top: 358.18px; position: absolute; background: #F88214"></div>
            <div style="width: 4.29px; height: 2.75px; left: 317.41px; top: 355.56px; position: absolute; background: #F88214"></div>
            <div style="width: 5.47px; height: 2.50px; left: 322.67px; top: 358.86px; position: absolute; background: #F88214"></div>
            <div style="width: 4.43px; height: 2.23px; left: 319.79px; top: 357.35px; position: absolute; background: #F88214"></div>
            <div style="width: 5.14px; height: 2.52px; left: 330.75px; top: 362.75px; position: absolute; background: #F88214"></div>
            <div style="width: 4.73px; height: 2.74px; left: 334.82px; top: 365.37px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 333.18px; top: 366.07px; position: absolute; background: #F88214"></div>
            <div style="width: 4.33px; height: 2.75px; left: 308.78px; top: 360.56px; position: absolute; background: #F88214"></div>
            <div style="width: 4.39px; height: 2.22px; left: 311.20px; top: 362.36px; position: absolute; background: #F88214"></div>
            <div style="width: 5.44px; height: 2.47px; left: 314.07px; top: 363.87px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.74px; left: 326.21px; top: 370.37px; position: absolute; background: #F88214"></div>
            <div style="width: 5.56px; height: 2.92px; left: 321.70px; top: 367.80px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.56px; left: 324.59px; top: 371.10px; position: absolute; background: #F88214"></div>
            <div style="width: 3.88px; height: 2.47px; left: 311.33px; top: 371.53px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.75px; left: 317.62px; top: 375.37px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.60px; left: 315.96px; top: 376.10px; position: absolute; background: #F88214"></div>
            <div style="width: 5.08px; height: 2.72px; left: 313.02px; top: 372.96px; position: absolute; background: #F88214"></div>
            <div style="width: 1.96px; height: 1.12px; left: 298.03px; top: 374.37px; position: absolute; background: #F88214"></div>
            <div style="width: 4.73px; height: 2.75px; left: 308.99px; top: 380.36px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 307.37px; top: 381.10px; position: absolute; background: #F88214"></div>
            <div style="width: 5.55px; height: 2.95px; left: 304.47px; top: 377.78px; position: absolute; background: #F88214"></div>
            <div style="width: 5.16px; height: 3.27px; left: 301.44px; top: 376.05px; position: absolute; background: #F88214"></div>
            <div style="width: 5.06px; height: 2.71px; left: 293.44px; top: 381.36px; position: absolute; background: #F88214"></div>
            <div style="width: 4.71px; height: 2.73px; left: 297.42px; top: 383.66px; position: absolute; background: #F88214"></div>
            <div style="width: 1.03px; height: 0.61px; left: 295.79px; top: 384.36px; position: absolute; background: #F88214"></div>
            <div style="width: 4.72px; height: 2.72px; left: 300.39px; top: 385.38px; position: absolute; background: #F88214"></div>
            <div style="width: 60.57px; height: 28.59px; left: 156.54px; top: 263.75px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 60.57px; height: 54.34px; left: 156.54px; top: 229.24px; position: absolute; background: white"></div>
            <div style="width: 20.89px; height: 19.39px; left: 196.23px; top: 241.48px; position: absolute; background: white"></div>
            <div style="width: 61.73px; height: 64.92px; left: 155.38px; top: 228.57px; position: absolute; background: #875DC3"></div>
            <div style="width: 47.71px; height: 44.52px; left: 169.40px; top: 231.85px; position: absolute; background: #875DC3"></div>
            <div style="width: 12.15px; height: 7.03px; left: 183.29px; top: 261.27px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 11.66px; height: 6.80px; left: 205.45px; top: 245.13px; position: absolute; background: #875DC3"></div>
            <div style="width: 9.44px; height: 5.43px; left: 208.07px; top: 250.27px; position: absolute; background: #875DC3"></div>
            <div style="width: 2.77px; height: 1.75px; left: 208.49px; top: 248.57px; position: absolute; background: #875DC3"></div>
            <div style="width: 58.70px; height: 28.58px; left: 158.41px; top: 251.35px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 2.77px; height: 1.74px; left: 210.36px; top: 236.17px; position: absolute; background: white"></div>
            <div style="width: 19.02px; height: 19.22px; left: 198.09px; top: 229.24px; position: absolute; background: white"></div>
            <div style="width: 58.70px; height: 47.58px; left: 158.41px; top: 223.59px; position: absolute; background: white"></div>
            <div style="width: 59.86px; height: 58.16px; left: 157.25px; top: 222.93px; position: absolute; background: #875DC3"></div>
            <div style="width: 45.84px; height: 37.99px; left: 171.27px; top: 225.96px; position: absolute; background: #875DC3"></div>
            <div style="width: 12.15px; height: 7.03px; left: 185.14px; top: 248.87px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 0.45px; height: 0.58px; left: 217.11px; top: 240.60px; position: absolute; background: #875DC3"></div>
            <div style="width: 10.21px; height: 7.88px; left: 207.31px; top: 232.72px; position: absolute; background: #875DC3"></div>
            <div style="width: 2.20px; height: 2.12px; left: 214.91px; top: 241.18px; position: absolute; background: #875DC3"></div>
            <div style="width: 64.38px; height: 28.58px; left: 152.73px; top: 241.39px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 2.80px; height: 1.71px; left: 204.68px; top: 226.21px; position: absolute; background: white"></div>
            <div style="width: 64.38px; height: 44.22px; left: 152.73px; top: 216.96px; position: absolute; background: white"></div>
            <div style="width: 24.68px; height: 16.97px; left: 192.43px; top: 221.48px; position: absolute; background: white"></div>
            <div style="width: 65.55px; height: 54.84px; left: 151.56px; top: 216.29px; position: absolute; background: #875DC3"></div>
            <div style="width: 51.50px; height: 34.65px; left: 165.61px; top: 219.32px; position: absolute; background: #875DC3"></div>
            <div style="width: 12.13px; height: 7.02px; left: 179.49px; top: 238.91px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 14.88px; height: 9.59px; left: 201.65px; top: 223.84px; position: absolute; background: #875DC3"></div>
            <div style="width: 1.16px; height: 0.62px; left: 200.77px; top: 222.76px; position: absolute; background: #875DC3"></div>
            <div style="width: 0.71px; height: 0.50px; left: 201.55px; top: 223.31px; position: absolute; background: #875DC3"></div>
            <div style="width: 8.76px; height: 5.02px; left: 202.30px; top: 223.84px; position: absolute; background: white"></div>
            <div style="width: 0.08px; height: 0.04px; left: 202.26px; top: 223.80px; position: absolute; background: white"></div>
            <div style="width: 114.08px; height: 52.33px; left: 90.50px; top: 344.81px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 114.08px; height: 52.33px; left: 90.50px; top: 344.81px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 114.01px; height: 65.98px; left: 90.52px; top: 322.40px; position: absolute; background: white"></div>
            <div style="width: 114.01px; height: 65.98px; left: 90.52px; top: 322.40px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 12.15px; height: 7.02px; left: 117.85px; top: 365.53px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 15.01px; height: 10.66px; left: 140.03px; top: 349.38px; position: absolute; background: #875DC3"></div>
            <div style="width: 114.04px; height: 52.37px; left: 92.37px; top: 332.37px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 114.04px; height: 52.37px; left: 92.37px; top: 332.37px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 114.01px; height: 65.98px; left: 92.39px; top: 310px; position: absolute; background: white"></div>
            <div style="width: 114.01px; height: 65.98px; left: 92.39px; top: 310px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 12.13px; height: 7.03px; left: 119.72px; top: 353.08px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 15.03px; height: 10.70px; left: 141.88px; top: 336.93px; position: absolute; background: #875DC3"></div>
            <div style="width: 114.04px; height: 52.36px; left: 86.72px; top: 322.41px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 114.04px; height: 52.36px; left: 86.72px; top: 322.41px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 114.02px; height: 65.96px; left: 86.71px; top: 300.03px; position: absolute; background: white"></div>
            <div style="width: 114.02px; height: 65.96px; left: 86.71px; top: 300.03px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 12.13px; height: 7.03px; left: 114.07px; top: 343.12px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 12.15px; height: 7.03px; left: 161.26px; top: 315.87px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 15.01px; height: 10.66px; left: 136.21px; top: 326.97px; position: absolute; background: #875DC3"></div>
            <div style="width: 114.04px; height: 52.36px; left: 95.19px; top: 313.58px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 114.04px; height: 52.36px; left: 95.19px; top: 313.58px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 114.02px; height: 65.96px; left: 95.18px; top: 291.19px; position: absolute; background: white"></div>
            <div style="width: 114.02px; height: 65.96px; left: 95.18px; top: 291.19px; position: absolute; border: 1px #875DC3 solid"></div>
            <div style="width: 87.11px; height: 50.35px; left: 108.63px; top: 299px; position: absolute; background: #875DC3"></div>
            <div style="width: 12.13px; height: 7.03px; left: 122.53px; top: 334.29px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 12.15px; height: 7.03px; left: 169.72px; top: 307.03px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 15.01px; height: 10.66px; left: 144.67px; top: 318.14px; position: absolute; background: #875DC3"></div>
            <div style="width: 78.78px; height: 135.94px; left: 138.37px; top: 186.92px; position: absolute"></div>
            <div style="width: 78.78px; height: 135.94px; left: 138.37px; top: 186.92px; position: absolute; border: 1px #26A8D6 solid"></div>
            <div style="width: 51.44px; height: 21.10px; left: 219.64px; top: 366.29px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.10px; left: 219.64px; top: 366.29px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 351.48px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 351.48px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.61px; left: 225.68px; top: 354.97px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.46px; left: 225.78px; top: 357.32px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.82px; left: 225.68px; top: 354.97px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.82px; left: 225.68px; top: 354.97px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 357.32px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 357.32px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11px; left: 235.82px; top: 361.48px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.44px; height: 21.07px; left: 219.64px; top: 357.63px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.07px; left: 219.64px; top: 357.63px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.81px; left: 219.67px; top: 342.78px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.81px; left: 219.67px; top: 342.78px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.58px; left: 225.68px; top: 346.29px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.46px; left: 225.78px; top: 348.63px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.79px; left: 225.68px; top: 346.29px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.79px; left: 225.68px; top: 346.29px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.29px; left: 225.78px; top: 348.62px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.29px; left: 225.78px; top: 348.62px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11.04px; left: 235.82px; top: 352.77px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.44px; height: 21.07px; left: 219.64px; top: 348.91px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.07px; left: 219.64px; top: 348.91px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 334.10px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 334.10px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.62px; left: 225.68px; top: 337.58px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.46px; left: 225.78px; top: 339.94px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.83px; left: 225.68px; top: 337.58px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.83px; left: 225.68px; top: 337.58px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 339.94px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 339.94px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11.04px; left: 235.82px; top: 344.06px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.44px; height: 21.08px; left: 219.64px; top: 340.24px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.08px; left: 219.64px; top: 340.24px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 325.39px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 325.39px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.60px; left: 225.68px; top: 328.89px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.48px; left: 225.78px; top: 331.23px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.81px; left: 225.68px; top: 328.89px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.81px; left: 225.68px; top: 328.89px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 331.23px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 331.23px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11.04px; left: 235.82px; top: 335.39px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.44px; height: 21.08px; left: 219.64px; top: 331.53px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.08px; left: 219.64px; top: 331.53px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.81px; left: 219.67px; top: 316.69px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.81px; left: 219.67px; top: 316.69px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.62px; left: 225.68px; top: 320.19px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.50px; left: 225.78px; top: 322.53px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.83px; left: 225.68px; top: 320.19px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.83px; left: 225.68px; top: 320.19px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.33px; left: 225.78px; top: 322.53px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.33px; left: 225.78px; top: 322.53px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11.04px; left: 235.82px; top: 326.68px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.48px; height: 21.07px; left: 177.62px; top: 382.44px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.48px; height: 21.07px; left: 177.62px; top: 382.44px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.43px; height: 29.79px; left: 177.66px; top: 367.58px; position: absolute; background: white"></div>
            <div style="width: 51.43px; height: 29.79px; left: 177.66px; top: 367.58px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.37px; height: 12.60px; left: 183.70px; top: 371.08px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.47px; left: 183.80px; top: 373.42px; position: absolute; background: white"></div>
            <div style="width: 39.37px; height: 22.81px; left: 183.70px; top: 371.08px; position: absolute"></div>
            <div style="width: 39.37px; height: 22.81px; left: 183.70px; top: 371.08px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.16px; height: 10.30px; left: 183.80px; top: 373.42px; position: absolute"></div>
            <div style="width: 39.16px; height: 10.30px; left: 183.80px; top: 373.42px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.13px; height: 11.04px; left: 193.80px; top: 377.58px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.48px; height: 21.07px; left: 177.62px; top: 373.72px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.48px; height: 21.07px; left: 177.62px; top: 373.72px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.43px; height: 29.82px; left: 177.66px; top: 358.88px; position: absolute; background: white"></div>
            <div style="width: 51.43px; height: 29.82px; left: 177.66px; top: 358.88px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.37px; height: 12.62px; left: 183.70px; top: 362.39px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.46px; left: 183.80px; top: 364.72px; position: absolute; background: white"></div>
            <div style="width: 39.37px; height: 22.79px; left: 183.70px; top: 362.39px; position: absolute"></div>
            <div style="width: 39.37px; height: 22.79px; left: 183.70px; top: 362.39px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.16px; height: 10.33px; left: 183.80px; top: 364.72px; position: absolute"></div>
            <div style="width: 39.16px; height: 10.33px; left: 183.80px; top: 364.72px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.13px; height: 11.04px; left: 193.80px; top: 368.87px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.48px; height: 21.11px; left: 177.62px; top: 365.01px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.48px; height: 21.11px; left: 177.62px; top: 365.01px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.43px; height: 29.79px; left: 177.66px; top: 350.20px; position: absolute; background: white"></div>
            <div style="width: 51.43px; height: 29.79px; left: 177.66px; top: 350.20px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.37px; height: 12.61px; left: 183.70px; top: 353.68px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.46px; left: 183.80px; top: 356.04px; position: absolute; background: white"></div>
            <div style="width: 39.37px; height: 22.82px; left: 183.70px; top: 353.69px; position: absolute"></div>
            <div style="width: 39.37px; height: 22.82px; left: 183.70px; top: 353.69px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.16px; height: 10.30px; left: 183.80px; top: 356.04px; position: absolute"></div>
            <div style="width: 39.16px; height: 10.30px; left: 183.80px; top: 356.04px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.13px; height: 11.04px; left: 193.80px; top: 360.20px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.44px; height: 21.11px; left: 219.64px; top: 401.47px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.11px; left: 219.64px; top: 401.47px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 386.66px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.79px; left: 219.67px; top: 386.66px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.60px; left: 225.68px; top: 390.16px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.16px; height: 20.47px; left: 225.78px; top: 392.50px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.81px; left: 225.68px; top: 390.17px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.81px; left: 225.68px; top: 390.17px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 392.50px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.30px; left: 225.78px; top: 392.50px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11.04px; left: 235.82px; top: 396.66px; position: absolute; background: #174FDF"></div>
            <div style="width: 51.44px; height: 21.07px; left: 219.64px; top: 392.80px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 51.44px; height: 21.07px; left: 219.64px; top: 392.80px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 51.42px; height: 29.81px; left: 219.67px; top: 377.96px; position: absolute; background: white"></div>
            <div style="width: 51.42px; height: 29.81px; left: 219.67px; top: 377.96px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.38px; height: 12.62px; left: 225.68px; top: 381.47px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 39.38px; height: 12.62px; left: 225.68px; top: 381.47px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.16px; height: 20.46px; left: 225.78px; top: 383.80px; position: absolute; background: white"></div>
            <div style="width: 39.38px; height: 22.79px; left: 225.68px; top: 381.47px; position: absolute"></div>
            <div style="width: 39.38px; height: 22.79px; left: 225.68px; top: 381.47px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 39.20px; height: 10.33px; left: 225.78px; top: 383.80px; position: absolute"></div>
            <div style="width: 39.20px; height: 10.33px; left: 225.78px; top: 383.80px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 19.12px; height: 11.03px; left: 235.82px; top: 387.95px; position: absolute; background: #174FDF"></div> -->
        </div>
    </div>
</div>