<!--Done-->

<div style="width: 100%; height: 100%; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 960px; height: 540px; position: relative">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #26A8D6"></div>
            <div style="width: 887.97px; height: 479.21px; left: 36.70px; top: 30.54px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 894.55px; height: 60.13px; left: 32.72px; top: 58.66px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 614.31px; height: 33.48px; left: 172.52px; top: 77.02px; position: absolute; color: #2B3888; font-family: Arial; font-size: 27; text-align: center; font-weight: bold;">A Beginner's Overview to Mutual Funds</div> <!--Title Line-->
            <div style="width: 186.08px; height: 33.61px; left: 147.99px; top: 279.47px; position: absolute"></div>
            <div style="width: 116.92px; height: 20.89px; left: 182.37px; top: 251.10px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">What is a</div> <!--Section 1 Subtitle-->
            <div style="width: 87.01px; height: 20.89px; left: 197.62px; top: 286.30px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Mutual</div>
            <div style="width: 73.43px; height: 20.89px; left: 204.93px; top: 321.50px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Fund?</div>
            <div style="width: 186.08px; height: 33.61px; left: 387.65px; top: 279.47px; position: absolute"></div>
            <div style="width: 160.68px; height: 20.89px; left: 400.08px; top: 251.10px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Active Funds</div> <!--Section 2 Subtitle-->
            <div style="width: 103.50px; height: 20.89px; left: 428.96px; top: 286.30px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">vs Index</div>
            <div style="width: 74.37px; height: 20.89px; left: 444.07px; top: 321.50px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Funds</div>
            <div style="width: 173.26px; height: 89.54px; left: 393.37px; top: 329.17px; position: absolute"></div>
            <div style="width: 10.09px; height: 2.03px; left: 474.95px; top: 354.16px; position: absolute; color: black"></div>
            <div style="width: 173.26px; height: 33.61px; left: 633.71px; top: 279.47px; position: absolute"></div>
            <div style="width: 107.40px; height: 20.89px; left: 666.82px; top: 251.10px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Pros and</div> <!--Section 3 Subtitle-->
            <div style="width: 92.17px; height: 21.23px; left: 674.78px; top: 285.96px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Cons of</div>
            <div style="width: 74.37px; height: 20.89px; left: 683.73px; top: 321.50px; position: absolute; color: black; font-family: Arial; font-size: 22; text-align: center; font-weight: bold;">Funds</div>
            <div style="width: 173.26px; height: 89.54px; left: 633.71px; top: 329.17px; position: absolute"></div>
            <div style="width: 10.09px; height: 2.03px; left: 715.29px; top: 354.16px; position: absolute; color: black"></div>
            <div style="width: 810.20px; height: 0.76px; left: 73.33px; top: 215.55px; position: absolute"></div>
            <div style="width: 790.62px; height: 0.74px; left: 80.91px; top: 215.56px; position: absolute; border: 2px #22577A solid"></div>
            <div style="width: 6.58px; height: 6.58px; left: 74.33px; top: 212.27px; position: absolute; background: #22577A; border: 2px #22577A solid"></div>
            <div style="width: 9.08px; height: 6.61px; left: 871.53px; top: 213px; position: absolute; background: #22577A; border: 2px #22577A solid"></div>
            <div style="width: 90.61px; height: 60.13px; left: 195.73px; top: 185.87px; position: absolute; background: white"></div>
            <div style="width: 38.17px; height: 27.36px; left: 219.59px; top: 203.46px; position: absolute; color: #2B3888; font-family: Arial; font-size: 30; text-align: center; font-weight: bold;">01</div>
            <div style="width: 90.61px; height: 60.13px; left: 435.38px; top: 185.87px; position: absolute; background: white"></div>
            <div style="width: 41.17px; height: 27.36px; left: 459.24px; top: 203.46px; position: absolute; color: #2B3888; font-family: Arial; font-size: 30; text-align: center; font-weight: bold;">02</div>
            <div style="width: 90.61px; height: 60.13px; left: 675.03px; top: 185.87px; position: absolute; background: white"></div>
            <div style="width: 41.32px; height: 27.36px; left: 698.89px; top: 203.46px; position: absolute; color: #2B3888; font-family: Arial; font-size: 30; text-align: center; font-weight: bold;">03</div>
        </div>
    </div>
</div>