<!--Done-->

<div style="width: 100%; height: 100%; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 960px; height: 540px; position: relative">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #26A8D6"></div>
            <div style="width: 908.22px; height: 489.80px; left: 26.13px; top: 26.13px; position: absolute; background: #BBE8F8"></div>
            <div style="width: 449.39px; height: 42.99px; left: 439.43px; top: 376.03px; position: absolute"></div>
            <div style="width: 291.18px; height: 60.13px; left: 82.61px; top: 179.39px; position: absolute"></div>
            <div style="width: 483.09px; height: 276.19px; left: 357.93px; top: 175.66px; position: absolute"></div>
            <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 195.76px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 315.99px; height: 21.84px; left: 416.01px; top: 190.90px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Group Investment Opportunity</div> <!--Line-->
            <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 238.96px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 275.27px; height: 22.61px; left: 416.72px; top: 233.81px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Managed by a professional</div> <!--Line-->
            <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 282.16px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 113.87px; height: 21.36px; left: 416.72px; top: 277.79px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Prospectus</div> <!--Line-->
            <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 325.36px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 172.81px; height: 22.31px; left: 416.72px; top: 320.50px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Diverse Holdings</div> <!--Line-->
            <div style="width: 10.31px; height: 10.33px; left: 426.53px; top: 368.56px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 219.95px; height: 22.14px; left: 464.72px; top: 363.41px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Many Different Types</div> <!--Line-->
            <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 411.76px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 79.84px; height: 16.59px; left: 416.72px; top: 407.39px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Returns</div> <!--Line-->
            <div style="width: 10.31px; height: 10.33px; left: 426.53px; top: 454.96px; position: absolute; background: #62C0C2; border-radius: 20px;"></div> <!--Bullet Point-->
            <div style="width: 322.77px; height: 20.05px; left: 464.72px; top: 449.81px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Income, Portfolio Distributions,</div> <!--Line-->
            <div style="width: 133.05px; height: 21.84px; left: 464.06px; top: 493.30px; position: absolute; color: #62C0C2; font-size: 18; font-family: Arial; font-weight: bold;">Capital Gains</div> <!--Line-->
            <div style="width: 918.52px; height: 60.13px; left: 21.46px; top: 85.48px; position: absolute; background: #D9D9D9;"></div>
            <div style="width: 405.88px; height: 28.48px; left: 277.53px; top: 101.94px; position: absolute; color: #62C0C2; font-family: Arial; font-size: 27; text-align: center; font-weight: bold;">What is a Mutual Fund?</div> <!--Slide Title-->
            <!--Below is the code for the image we had on this slide.  I am keeping the code here just in case we can use it, but am commenting it out just in case.  Colors may need to be changed to match style guide.

            <div style="width: 157.79px; height: 107.19px; left: 103.04px; top: 265.56px; position: absolute; background: #174FDF"></div>
            <div style="width: 171.59px; height: 120.03px; left: 98.34px; top: 260.93px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 155.88px; height: 113.59px; left: 114.05px; top: 267.40px; position: absolute; background: white"></div>
            <div style="width: 151.95px; height: 114.72px; left: 118.54px; top: 266.84px; position: absolute; background: #91B71D"></div>
            <div style="width: 172.72px; height: 121.16px; left: 97.77px; top: 260.36px; position: absolute; background: #91B71D"></div>
            <div style="width: 158.92px; height: 116.56px; left: 102.48px; top: 265px; position: absolute; background: #91B71D"></div>
            <div style="width: 25.87px; height: 53.36px; left: 131.28px; top: 297.52px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 26.64px; height: 54.14px; left: 130.89px; top: 297.13px; position: absolute; background: #91B71D"></div>
            <div style="width: 131.50px; height: 1.13px; left: 119.68px; top: 268.64px; position: absolute; background: #91B71D"></div>
            <div style="width: 0.35px; height: 0.03px; left: 183.51px; top: 268.93px; position: absolute; background: #D7E9C1"></div>
            <div style="width: 98.06px; height: 87.26px; left: 151.11px; top: 181.37px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 100.15px; height: 88.30px; left: 150.06px; top: 180.33px; position: absolute; background: #875DC3"></div>
            <div style="width: 86.70px; height: 81.42px; left: 156.94px; top: 187.21px; position: absolute; background: #875DC3"></div>
            <div style="width: 27.47px; height: 13.50px; left: 192.88px; top: 255.12px; position: absolute; background: #875DC3"></div>
            <div style="width: 69.81px; height: 71.77px; left: 166.59px; top: 196.86px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 47.30px; height: 29.15px; left: 182.94px; top: 239.48px; position: absolute; background: #875DC3"></div>
            <div style="width: 5.14px; height: 8.53px; left: 208.58px; top: 260.09px; position: absolute; background: #875DC3"></div>
            <div style="width: 17.18px; height: 17.15px; left: 187.15px; top: 212.49px; position: absolute; background: #875DC3"></div>
            <div style="width: 109.56px; height: 91.93px; left: 127.86px; top: 176.70px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 111.70px; height: 92.97px; left: 126.83px; top: 175.66px; position: absolute; background: #875DC3"></div>
            <div style="width: 97.74px; height: 85.87px; left: 133.91px; top: 182.76px; position: absolute; background: #875DC3"></div>
            <div style="width: 26.78px; height: 17.62px; left: 177.29px; top: 251px; position: absolute; background: #875DC3"></div>
            <div style="width: 79.14px; height: 74.88px; left: 144.92px; top: 193.75px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 47.29px; height: 32.80px; left: 166.98px; top: 235.82px; position: absolute; background: #875DC3"></div>
            <div style="width: 17.16px; height: 17.16px; left: 165.61px; top: 210.68px; position: absolute; background: #875DC3"></div>
            <div style="width: 120.77px; height: 91.62px; left: 104.41px; top: 177px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 122.99px; height: 92.64px; left: 103.38px; top: 175.99px; position: absolute; background: #875DC3"></div>
            <div style="width: 108.39px; height: 85.41px; left: 110.61px; top: 183.22px; position: absolute; background: #875DC3"></div>
            <div style="width: 25.55px; height: 18.08px; left: 160.97px; top: 250.55px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 87.91px; height: 73.09px; left: 122.93px; top: 195.53px; position: absolute; background: #E3CFFF"></div>
            <div style="width: 47.29px; height: 32.85px; left: 150.01px; top: 235.77px; position: absolute; background: #875DC3"></div>
            <div style="width: 17.17px; height: 17.16px; left: 143.18px; top: 213.32px; position: absolute; background: #875DC3"></div>
            <div style="width: 61.16px; height: 25.03px; left: 219.12px; top: 374.10px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 61.16px; height: 25.03px; left: 219.12px; top: 374.10px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 61.10px; height: 35.38px; left: 219.17px; top: 356.46px; position: absolute; background: white"></div>
            <div style="width: 61.10px; height: 35.38px; left: 219.17px; top: 356.46px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 46.76px; height: 14.97px; left: 226.34px; top: 360.61px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 46.52px; height: 24.32px; left: 226.47px; top: 363.39px; position: absolute; background: white"></div>
            <div style="width: 46.76px; height: 27.10px; left: 226.34px; top: 360.62px; position: absolute"></div>
            <div style="width: 46.76px; height: 27.10px; left: 226.34px; top: 360.62px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 46.52px; height: 12.23px; left: 226.47px; top: 363.39px; position: absolute"></div>
            <div style="width: 46.52px; height: 12.23px; left: 226.47px; top: 363.39px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 22.72px; height: 13.11px; left: 238.34px; top: 368.33px; position: absolute; background: #174FDF"></div>
            <div style="width: 61.16px; height: 25.03px; left: 219.12px; top: 363.75px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 61.16px; height: 25.03px; left: 219.12px; top: 363.75px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 61.10px; height: 35.42px; left: 219.17px; top: 346.12px; position: absolute; background: white"></div>
            <div style="width: 61.10px; height: 35.42px; left: 219.17px; top: 346.12px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 46.76px; height: 14.99px; left: 226.34px; top: 350.28px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 46.52px; height: 24.31px; left: 226.47px; top: 353.06px; position: absolute; background: white"></div>
            <div style="width: 46.76px; height: 27.08px; left: 226.34px; top: 350.28px; position: absolute"></div>
            <div style="width: 46.76px; height: 27.08px; left: 226.34px; top: 350.28px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 46.52px; height: 12.27px; left: 226.47px; top: 353.06px; position: absolute"></div>
            <div style="width: 46.52px; height: 12.27px; left: 226.47px; top: 353.06px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 22.72px; height: 13.11px; left: 238.34px; top: 357.98px; position: absolute; background: #174FDF"></div>
            <div style="width: 61.16px; height: 25.07px; left: 219.12px; top: 353.40px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 61.16px; height: 25.07px; left: 219.12px; top: 353.40px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 61.10px; height: 35.38px; left: 219.17px; top: 335.81px; position: absolute; background: white"></div>
            <div style="width: 61.10px; height: 35.38px; left: 219.17px; top: 335.81px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 46.76px; height: 14.98px; left: 226.34px; top: 339.95px; position: absolute; background: #A7BDF5"></div>
            <div style="width: 46.52px; height: 24.31px; left: 226.47px; top: 342.74px; position: absolute; background: white"></div>
            <div style="width: 46.76px; height: 27.10px; left: 226.34px; top: 339.95px; position: absolute"></div>
            <div style="width: 46.76px; height: 27.10px; left: 226.34px; top: 339.95px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 46.52px; height: 12.24px; left: 226.47px; top: 342.74px; position: absolute"></div>
            <div style="width: 46.52px; height: 12.24px; left: 226.47px; top: 342.74px; position: absolute; border: 1px #174FDF solid"></div>
            <div style="width: 22.72px; height: 13.11px; left: 238.34px; top: 347.69px; position: absolute; background: #174FDF"></div> -->
        </div>
    </div>
</div>