<!--imported code from Figma;
changed background to color in all code with text, 
changed colors to fit style guide; added font size, type, etc.
text for the title of the slide is found within the last lines of code-->

<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #2b388f"></div>   <!--border color of learning module-->
        <div style="width: 908.22px; height: 489.80px; left: 26.13px; top: 26.13px; position: absolute; background: #00878E"></div>  <!--background color-->
        <div style="width: 483.09px; height: 276.19px; left: 357.93px; top: 179.39px; position: absolute"></div>
        <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 199.49px; position: absolute; background: #62C0C2"></div> <!--represents the bulleted points-->
        <div style="width: 367.99px; height: 22.14px; left: 416.72px; top: 194.33px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold;">Represent ownership of a company</div>  <!--text contained w/in bulleted points-->
        <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 242.69px; position: absolute; background: #62C0C2"></div>
        <div style="width: 361.08px; height: 21.84px; left: 415.39px; top: 237.83px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold;">When you buy stock, you become a shareholder</div>
        <div style="width: 10.31px; height: 10.33px; left: 378.53px; top: 329.09px; position: absolute; background: #62C0C2"></div>
        <div style="width: 174.18px; height: 21.84px; left: 416px; top: 324.23px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold;">ownership stake</div>
        <div style="width: 10.31px; height: 10.33px; left: 426.53px; top: 372.29px; position: absolute; background: #62C0C2"></div>
        <div style="width: 322.24px; height: 22.14px; left: 464.72px; top: 367.13px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold;">based on number of shares you own</div>
        <div style="width: 808.82px; height: 60.13px; left: 75.59px; top: 85.48px; position: absolute"></div>
        <div style="width: 111.84px; height: 28.48px; left: 424.12px; top: 101.94px; position: absolute; color: #62C0C2; font-size: 60; font-family: 'Arial'; font-weight: bold; ">Stocks</div> <!--title text-->
    </div>
</div> 