<!--code from figma with changes
on lines 10-15, changed background to color, changed color palettes to the index.css, 
then added correct font size, changd font to Arial, and bolded and centered the text -->

<div style="width: 100%; height: 100%; position: relative; background: #78909C">
    <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #2B388F"></div> <!--background border-->
            <div style="width: 887.97px; height: 479.21px; left: 36.70px; top: 30.54px; position: absolute; background: white"></div>  <!--inside background-->
            <div style="width: 513.10px; height: 371.69px; left: 374.48px; top: 76.83px; position: absolute; background: white"></div>
            <div style="width: 463.14px; height: 54.53px; left: 384.94px; top: 91.04px; position: absolute; color: #00878E; font-size: 61; font-family: 'Arial'; font-weight: bold;"  >What is a</div>
            <div style="width: 463.14px; height: 54.53px; left: 386.23px; top: 164.57px; position: absolute; color: #00878E; font-size: 61; font-family: 'Arial'; font-weight: bold;"  >Stock and</div>
            <div style="width: 463.14px; height: 69.69px; left: 385.33px; top: 238.10px; position: absolute; color: #00878E; font-size: 61; font-family: 'Arial'; font-weight: bold;"  >what happens</div>
            <div style="width: 463.14px; height: 69.69px; left: 385.33px; top: 311.63px; position: absolute; color: #00878E; font-size: 61; font-family: 'Arial'; font-weight: bold;"  >when you</div>
            <div style="width: 463.14px; height: 54.53px; left: 388.23px; top: 385.16px; position: absolute; color: #00878E; font-size: 61; font-family: 'Arial'; font-weight: bold;"  >invest</div>  <!--these four lines include the text seen on screen, including font style, size, color, and weight-->
        </div>
    </div>
</div>