<!--information slide, imported from figma
changed text code similar to slide 7, including line height;
changed top style px for code with text displayed in order to line up with code for bullet pts-->

<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #2b388f"></div> <!--border-->
            <div style="width: 908.22px; height: 489.80px; left: 26.13px; top: 26.13px; position: absolute; background: #00878E"></div> <!--background of module-->
            <div style="width: 494.49px; height: 317.57px; left: 320.69px; top: 162.41px; position: absolute"></div>
            <div style="width: 10.31px; height: 10.33px; left: 341.29px; top: 211.32px; position: absolute; background: #62C0C2"></div> <!--bullet point-->
            <div style="width: 121.20px; height: 21.84px; left: 378.82px; top: 201.46px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold; line-height: 1.5">Capital Gain</div> 
            <!--in code lines 11, 14, and 16, changed top px to ten less than bullet point top px above it, so they line up-->
            <div style="width: 10.31px; height: 10.33px; left: 341.29px; top: 254.52px; position: absolute; background: #62C0C2"></div>
            <div style="width: 122.09px; height: 21.84px; left: 378.82px; top: 244.66px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold; line-height: 1.5">Capital Loss</div>
            <div style="width: 10.31px; height: 10.33px; left: 341.29px; top: 297.72px; position: absolute; background: #62C0C2"></div>
            <!--in line 19 below, combined text into one line of code/dev statement (was in 3 separate initially)-->
            <div style="width: 396.91px; height: 22.61px; left: 379.47px; top: 287.56px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold; line-height: 1.5">Long-Term Growth investors often buy stocks to hold for long periods of time, hoping to benefit from the potential growth of the companies they invest in
            </div>
            <div style="width: 808.82px; height: 60.13px; left: 75.59px; top: 85.48px; position: absolute"></div>
            <div style="width: 880.13px; height: 37.20px; left: 261.21px; top: 101.94px; position: absolute; color: #62C0C2; font-size: 40; font-family: 'Arial'; font-weight: bold">Buying and Selling Stocks</div> <!--changed width so text would fit across screen-->
        </div>
    </div>
</div>