<!--information slide, similar set up as to slide 11;
combined text into one singular line of code instead of 3 separate dev statements;
changed top style px for text in order to match w/ bullet pts-->

<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #2B3888"></div> <!--border-->
            <div style="width: 908.22px; height: 489.80px; left: 26.13px; top: 26.13px; position: absolute; background: #00878E"></div> <!--background-->
            <div style="width: 510.02px; height: 314.49px; left: 352.76px; top: 163.45px; position: absolute"></div>
            <div style="width: 10.31px; height: 10.33px; left: 373.36px; top: 212.35px; position: absolute; background: #62C0C2"></div> <!--bullet point-->
            <div style="width: 335.28px; height: 22.61px; left: 411.24px; top: 202.20px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold; line-height: 1.5">refers to gain or loss made on an investment over a certain period </div> <!--text-->
            <div style="width: 10.31px; height: 10.33px; left: 373.36px; top: 298.75px; position: absolute; background: #62C0C2"></div>
            <div style="width: 360.39px; height: 22.14px; left: 410.16px; top: 288.60px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold; line-height: 1.5">A measure of the profitability of an investment, expressed as a percentage of the initial investment amount </div> <!--combined 3 text codes into one line (put all the text together)-->
            <div style="width: 808.82px; height: 60.13px; left: 75.59px; top: 85.48px; position: absolute"></div>
            <div style="width: 113.33px; height: 27.69px; left: 423.67px; top: 102.74px; position: absolute; color: #62C0C2; font-size: 40; font-family: 'Arial'; font-weight: bold">Return</div> <!--slide title-->
        </div>
    </div>
</div>