<!--imported from Figma, same coding layout changes as slide4 
to implement texts in correct areas w/correct colors and fonts -->

<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: #2B388f"></div>
            <div style="width: 908.22px; height: 489.80px; left: 26.13px; top: 26.13px; position: absolute; background: #00878E"></div>
            <div style="width: 494.49px; height: 276.19px; left: 320.69px; top: 162.41px; position: absolute"></div>
            <div style="width: 10.31px; height: 10.33px; left: 341.29px; top: 211.32px; position: absolute; background: #62C0C2"></div>
            <div style="width: 378.52px; height: 17.38px; left: 378.08px; top: 206.16px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold">Value can fluctuate based on various</div>
            <div style="width: 77.33px; height: 17.38px; left: 378.46px; top: 249.36px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold">factors</div>
            <div style="width: 10.31px; height: 10.33px; left: 389.29px; top: 297.72px; position: absolute; background: #62C0C2"></div>
            <div style="width: 232.46px; height: 22.14px; left: 426.82px; top: 292.56px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold">Company performance</div>
            <div style="width: 10.31px; height: 10.33px; left: 389.29px; top: 340.92px; position: absolute; background: #62C0C2"></div>
            <div style="width: 157.91px; height: 21.84px; left: 427.47px; top: 336.06px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold">Industry trends</div>
            <div style="width: 10.31px; height: 10.33px; left: 389.29px; top: 384.12px; position: absolute; background: #62C0C2"></div>
            <div style="width: 210.57px; height: 17.08px; left: 427.47px; top: 379.26px; position: absolute; color: #62C0C2; font-size: 20; font-family: 'Arial'; font-weight: bold">Economic conditions</div>
            <div style="width: 808.82px; height: 60.13px; left: 75.59px; top: 85.48px; position: absolute"></div>
            <div style="width: 800.80px; height: 28.97px; left: 348.22px; top: 101.46px; position: absolute; color: #62C0C2; font-size: 60; font-family: 'Arial'; font-weight: bold">Value of Stocks</div> <!--title text-->
        </div>
    </div>
</div>