<!-- imported code from Figma. Changed background code to color for parts containing text; 
added font information such as color, size, family, and bolded fonts;
changed colors to fit color palette outlined in the style guide -->

<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute">
        <div style="width: 960px; height: 540px; left: 0px; top: 0px; position: absolute; background: black"></div>
        <div style="width: 962.92px; height: 540px; left: -2.92px; top: 0px; position: absolute">
            <div style="width: 960px; height: 540px; left: 2.92px; top: 0px; position: absolute; background: #D9D9D9"></div>  <!--background border-->
            <div style="width: 887.97px; height: 479.21px; left: 39.62px; top: 30.54px; position: absolute; background: #D9D9D9"></div> <!--background-->
            <div style="width: 894.55px; height: 60.13px; left: 35.64px; top: 46.72px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 500.49px; height: 33.48px; left: 225.35px; top: 65.08px; position: absolute; color: #2B388F; font-size: 27; font-family: 'Arial'; font-weight: bold; text-align: center;">A Beginner's Overview to Stocks</div>  <!--title, with font size, color, weight, etc.-->
            <div style="width: 173.26px; height: 33.61px; left: 83.57px; top: 279.47px; position: absolute"></div>  
            <div style="width: 116.92px; height: 20.89px; left: 115.51px; top: 268.70px; position: absolute; color: black; font-size: 22; font-family: 'Arial'; font-weight: bold; text-align: center; line-height: 1.5;">What is a stock?</div>   these represent the black text under each box, naming the modules
            <div style="width: 186.08px; height: 33.61px; left: 285.64px; top: 279.47px; position: absolute"></div>
            <div style="width: 122.47px; height: 20.89px; left: 318.37px; top: 286.30px; position: absolute; color: black; font-size: 22; font-family: 'Arial'; font-weight: bold; text-align: center;">Dividends</div>
            <div style="width: 173.26px; height: 89.54px; left: 292.05px; top: 313.08px; position: absolute"></div>
            <div style="width: 173.26px; height: 33.61px; left: 503.73px; top: 279.47px; position: absolute"></div>
            <div style="width: 87.43px; height: 20.30px; left: 541.85px; top: 269.30px; position: absolute; color: black; font-size: 22; font-family: 'Arial'; font-weight: bold; text-align: center; line-height: 1.5;">How to Invest</div>
            <div style="width: 173.26px; height: 89.54px; left: 500.53px; top: 313.08px; position: absolute"></div>
            <div style="width: 173.26px; height: 33.61px; left: 709.01px; top: 270px; position: absolute"></div>
            <div style="width: 83.09px; height: 20.30px; left: 757.34px; top: 277.43px; position: absolute; color: black; font-size: 22; font-family: 'Arial'; font-weight: bold; text-align: center;">Return</div>
            <div style="width: 173.26px; height: 89.54px; left: 709.01px; top: 313.08px; position: absolute"></div>
            <div style="width: 810.20px; height: 0.76px; left: 76.25px; top: 215.55px; position: absolute"></div>
            <div style="width: 790.62px; height: 0.74px; left: 83.83px; top: 215.56px; position: absolute; border: 2px #2B388F solid;"></div> <!--lines 27-29 represent the arrow btwn white squares -->
            <div style="width: 6.58px; height: 6.58px; left: 77.25px; top: 212.27px; position: absolute; border: 2px #2B388F solid;"></div>
            <div style="width: 9.08px; height: 6.61px; left: 874.45px; top: 213px; position: absolute; border: 2px #2B388F solid;"></div>
            <div style="width: 90.61px; height: 60.13px; left: 130.51px; top: 185.87px; position: absolute; background: white"></div> <!--these are for the white squares representing each section of the module-->
            <div style="width: 38.17px; height: 27.36px; left: 154.37px; top: 203.46px; position: absolute; color: #2b388f; font-size: 30; font-family: 'Arial'; font-weight: bold">01</div>  <!--these represent the labels inside of the white boxes-->
            <div style="width: 90.61px; height: 60.13px; left: 333.37px; top: 185.87px; position: absolute; background: white"></div>
            <div style="width: 41.17px; height: 27.36px; left: 357.23px; top: 203.46px; position: absolute; color: #2b388f; font-size: 30; font-family: 'Arial'; font-weight: bold">02</div>
            <div style="width: 90.61px; height: 60.13px; left: 541.85px; top: 185.87px; position: absolute; background: white"></div>
            <div style="width: 41.32px; height: 27.36px; left: 565.71px; top: 203.46px; position: absolute; color: #2b388f; font-size: 30; font-family: 'Arial'; font-weight: bold">03</div>
            <div style="width: 90.61px; height: 60.13px; left: 750.34px; top: 185.87px; position: absolute; background: white"></div>
            <div style="width: 42.29px; height: 27.36px; left: 774.20px; top: 203.46px; position: absolute; color: #2b388f; font-size: 30; font-family: 'Arial'; font-weight: bold">04</div>
            <div style="width: 962.71px; height: 149.92px; left: 0px; top: 390.08px; position: absolute; background: #00878E"></div>
            <div style="width: 962.71px; height: 149.92px; left: 0px; top: 390.08px; position: absolute; border: 1px #BBE8F8 solid"></div>
        </div>
    </div>
</div>