<ul>
    <li>Blockchain Basics
        <ul>
            <li>Decentralized
                <ul>
                    <li>No central Authority
                        <ul>
                            <li>Benefit 1</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Efficiency
                <ul>
                    <li>No paper needed
                        <ul>
                            <li>Benefit 2</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Validation
                <ul>
                    <li>Ledgers for proof of transactions
                        <ul>
                            <li>Benefit 3</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

