.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 800px;
    max-width: 90%;
    height: 600px;
    max-height: 90vh;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.close-button:hover {
    background-color: #777; 
    color: #1a1a1a;
}